<template>
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/geovisio@1.3.1/build/index.css"
  />
  <Header />
  <main class="entry-page">
    <section id="viewer" class="entry-viewer"></section>
  </main>
</template>

<script lang="ts" setup>
import { onMounted } from 'vue'
import GeoVisio from 'geovisio'
import Header from '@/components/Header.vue'

onMounted(async () => {
  await new GeoVisio(
    'viewer', // Div ID
    `${import.meta.env.VITE_API_URL}search`, // STAC API search endpoint
    {
      map: {
        startWide: true
      }
    } // Viewer options
  )
})
</script>
<style scoped>
.entry-page {
  display: flex;
}
.entry-viewer {
  height: calc(100vh - 8rem);
  width: 100vw;
  position: relative;
}
</style>
