<template>
  <header class="header">
    <nav class="nav">
      <router-link to="/">
        <img src="@/assets/images/logo-panoramax.jpeg" alt="" class="logo" />
      </router-link>
      <ul class="nav-list">
        <li class="nav-list-item">
          <Link :text="$t('general.header.contribute_text')" path="/" />
        </li>
        <li class="nav-list-item">
          <Link :text="$t('general.header.help_text')" path="/" />
        </li>
        <li>
          <Link icon="bi bi-person-circle" path="/" />
        </li>
      </ul>
    </nav>
  </header>
</template>

<script lang="ts" setup>
import Link from '@/components/Link.vue'
</script>

<style scoped>
.header {
  height: 8rem;
  padding: 2rem;
}
.logo {
  height: 4rem;
  border-radius: 0.5rem;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.nav-list-item {
  margin-right: 2rem;
}
</style>
