<template>
  <a
    v-if="props.look === 'external'"
    :href="props.path"
    target="_blank"
    class="link"
  >
    <i v-if="props.icon" :class="props.icon" class="icon"></i>
    <span v-if="props.text">{{ props.text }}</span>
  </a>
  <router-link v-else :to="props.path" class="link">
    <i v-if="props.icon" :class="props.icon" class="icon"></i>
    <span v-if="props.text">{{ props.text }}</span>
  </router-link>
</template>

<script lang="ts" setup>
const props = defineProps({
  text: { type: String, default: null },
  path: { type: String, default: '' },
  look: { type: String, default: '' },
  type: { type: String, default: null },
  alt: { type: String, default: '' },
  icon: { type: String, default: null }
})
</script>

<style scoped>
.icon {
  color: var(--black);
  font-size: 2.4rem;
}
.link {
  color: var(--black);
  text-decoration: none;
}
.link:hover {
  background-color: transparent;
  text-decoration: underline;
}
</style>
