html {
  font-size: 62.5%; /* 1rem = 10px */
}
body {
  margin: 0;
}
#app {
  width: 100%;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --white: #ffffff;
  --black: #181818;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
